.custom-nav {
  padding: 12px 0px;
  width: 100%;
  border-radius: 0px;
  z-index: 999;
  margin-bottom: 0px;
  transition: all 0.5s ease-in-out;
  background-color: transparent;
}

.custom-nav.stickyadd {
  background-color: #fff;
  padding: 8px 0;
  box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
}

.custom-nav .navbar-nav li a {
  color: rgba(0, 0, 0, 0.55);
  font-size: 16px;
  background-color: transparent !important;
  padding: 15px 0;
  position: relative;
  margin: 0 7px;
  font-weight: 600;
  transition: all 0.4s;
}

.custom-nav .navbar-nav li.active a {
  color: #000 !important;
}

.custom-nav .navbar-nav li.active a:before,
.custom-nav .navbar-nav li:hover a:before,
.custom-nav .navbar-nav li:active a:before,
.custom-nav.stickyadd .navbar-nav li.active a:before,
.custom-nav.stickyadd .navbar-nav li:hover a:before,
.custom-nav.stickyadd .navbar-nav li:active a:before {
  opacity: 1;
}

.custom-nav .navbar-nav li a:before,
.custom-nav.stickyadd .navbar-nav li a:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 10%;
  height: 6px;
  width: 6px;
  background: #000;
  border-radius: 50%;
  opacity: 0;
  transform: translateX(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.custom-nav.stickyadd .navbar-nav li a:before {
  background: #000 !important;
}

.navbar-toggler {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #ffffff;
}

.custom-nav.stickyadd .navbar-nav li a {
  color: rgba(0, 0, 0, 0.55);
}

.custom-nav .navbar-brand.logo img {
  height: 28px;
}

.opensource-main {
  width: 100%;
}
.organizations {
  margin-top: 6em;
}

@media (max-width: 768px) {
  .custom-nav {
    margin-top: 0px;
    padding: 10px 0px !important;
    background-color: #fff !important;
  }
  .custom-nav .navbar-nav li a:before {
    content: "";
    display: none;
  }
  .custom-nav .navbar-nav li a {
    margin: 0 0px;
    padding: 6px 0;
    color: rgba(0, 0, 0, 0.55) !important;
  }
  .custom-nav .navbar-nav li.active a {
    color: #000 !important;
  }
  .custom-nav > .container {
    width: 90%;
  }
  .navbar-toggler {
    font-size: 29px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000;
  }
}